// fill the EAMIL, PASSWOD, SIZE, csc, PRODUCT_URL with correct information.
// rename it to config.js
module.exports = {
  'email': EMAIL,
  'password': PASSWORD,
  'size': SIZE,
  'csc': csc,
  'productUrl': PRODUCT_URL
}
